body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hover-love:hover {
  background-color: rgb(255, 76, 76) !important;
}

.hover-like:hover {
  background-color: rgb(51, 129, 255) !important;
}

.hover-sad:hover {
  background-color: rgb(235, 193, 43) !important;
}

.logo {
  width: 30px;
}
